body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #213743; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b1bad3; 
}

@keyframes progressBar {
  100% {
    background-color: #ffa500;
    width: 0;
    border-radius: 0.375rem;
  }
  0% {
    background-color: #ffa500;
    width: 100%;
  }
}
.progress-bar {
  position: relative;
}
.progress-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ffa500;
  animation: progressBar 10s linear forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeInUp 0.5s ease forwards;
  opacity: 0;
}

.multiplier-label {
  position: absolute;
  color: white; 
  font-size: 10px;
  text-align: center;
  width: 40px; 
  transform: translateX(-50%); 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .tile {
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0.5; 
} */

.reveal {
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  transform: scale(1);
}

.hidden {
  opacity: 0;
  transform: scale(1);
}

@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  0%, 70% {
    background: #2f4553;
  }
  70%, 100% {
    background: #071824;
  }
}
.zoom-in-out {
  animation: zoomInOut 1s ease-in-out;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

